<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>


    <add name="usuarioEntities" connectionString="metadata=res://*/BDUsuarioEntidades.csdl|res://*/BDUsuarioEntidades.ssdl|res://*/BDUsuarioEntidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\bd\usuario.mdf;initial catalog=usuario;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>